@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

:root {
  --blue-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #306de62a 91.61%
  );
  --green-gradient: linear-gradient(
    144.39deg,
    #57d764 -278.56%,
    #4cc659 -78.47%,
    #30d841 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #8da8dd 0.89%,
    #7d9cdb 17.23%,
    #799ce2 42.04%,
    #5b86db 55.12%,
    #306CE6 71.54%,
    #306CE6 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #89a4db -43.27%,
    #6d94e2 -21.24%,
    #477ae0 12.19%,
    #2f66d5 29.82%,
    #0e4ecf 51.94%,
    #0b4ac8 90.29%
  );
}

.bg-red-gradient {
  background: linear-gradient(
    157.81deg,
    #e55b5b -21.24%,
    #da4848 12.19%,
    #d62f2f 29.82%,
    #c91414 51.94%,
    #c90d0d 90.29%
  ); 
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-blue-strong-gradient {
  background: linear-gradient(
    -168.39deg,
    #ffffff6b -278.56%,
    #6a8fd82e -78.47%,
    #306de642 91.61%
  );
}

.bg-blue-low-gradient {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-green-gradient {
  background: linear-gradient(
    157.81deg,
    #45a05c 12.19%,
    #3d9e55 29.82%,
    #22ac44 51.94%,
    #0fa835 90.29%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.box-shadow2 {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px; 
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.gridContainer2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 20px; 
}

@media (max-width: 768px) {
  .gridContainer2 {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}


.textGold {
  color: goldenrod;
}

.textPlatinum {
  color: #7296de;
}

.textSilver {
  color: #C0C0C0;
}

.box-shadow:hover {
  background: var(--blue-gradient);
}

.box-shadow3:hover {
  background: var(--green-gradient);
}

.button-booking {
  width: 550px; 
  height: 50px; 
}

@media (max-width: 768px) {
  .button-booking {
    width: 250px; 
  }
}

.texto-centrado {
  display: flex;
  justify-content: space-around; 
  flex-direction: column;
  align-items: center;
}



